@model atAcc.Models.ViewModels.InvoiceParent
@{
    ViewBag.Title = "PurchaseInvoiceView";
}
<style>
    .ui-autocomplete {
        max-height: 600px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: auto; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
        position: relative;
    }
</style>
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Purchase Invoice</h4>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" action="#">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Voucher</label>
                                        @if (ViewBag.tableData == null)
                                        {
                                            <input class="select2 form-control" name="voucher" id="voucher" required>
                                            <input type="hidden" id="actionType" value="insert">
                                            <input type="hidden" id="id" value="">
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.tableData)
                                            {
                                                <input type="hidden" id="actionType" value="update">
                                                <input type="hidden" id="id" value="@acc.id">
                                                <input class="select2 form-control" name="voucher" id="voucher" value="@acc.invoice_id">
                                            }

                                        }
                                    </div>
                                    <div class="form-group">
                                        <label>Voucher in Arabic</label>
                                        @if (ViewBag.tableData == null)
                                        {
                                            <input class="select2 form-control" name="voucherArabic" id="voucherArabic" required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.tableData)
                                            {
                                                <input class="select2 form-control" name="voucherArabic" id="voucherArabic" value="@acc.voucherArabic" required>
                                            }

                                        }

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Depot/Location</label>
                                        <select class="select2 form-control custom-select" name="depotlocation" id="depotlocation" required>
                                            @if (ViewBag.tableData == null)
                                            {
                                                <option value="Depo 1">Depo 1</option>
                                                <option value="Depo 2">Depo 2</option>
                                            }
                                            else
                                            {
                                                foreach (var acc in ViewBag.tableData)
                                                {
                                                    if (acc.depot_loc == "Depo 2")
                                                    {
                                                        <option value="Depo 1">Depo 1</option>
                                                        <option value="Depo 2" selected>Depo 2</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Depo 1" selected>Depo 1</option>
                                                        <option value="Depo 2">Depo 2</option>
                                                    }
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Cash/Party A/c</label>
                                        <select class="select2 form-control custom-select" name="cashpartyacc" id="cashpartyacc"  onchange="checkPayment()" required>
                                            @if (ViewBag.tableData == null)
                                            {
                                                <option value="Cash">Cash</option>
                                                <option value="Credit">Credit</option>
                                            }
                                            else
                                            {
                                                foreach (var acc in ViewBag.tableData)
                                                {
                                                    if (acc.depot_loc == "Cash")
                                                    {
                                                        <option value="Cash" selected>Cash</option>
                                                        <option value="Credit">Credit</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Cash">Cash</option>
                                                        <option value="Credit" selected>Credit</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group" style="display:none" id="selectdate">
                                        <label class="control-label" id="customeLabel">Cash/Party A/c</label>
                                        <select class="select2 form-control custom-select" name="cashpartyacc" id="cashDueDate"  onchange="checkDate()"required>
                                            <option disabled>select due date</option>
                                            <option value="10">10 Days</option>
                                            <option value="15">15 Days</option>
                                            <option value="20">20 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="custome">Custome</option>
                                        </select>
                                        <input type="text" class="cashpartyacca" name="cashpartyacc" id="cashDueDate" style="display:none"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Purchase A/c</label>
                                        @if (ViewBag.tableData == null)
                                        {
                                            <input type="number" name="purchaseacc" id="purchaseacc" class="form-control" required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.tableData)
                                            {
                                                <input type="number" name="purchaseacc" id="purchaseacc" class="form-control" value="@acc.cash_party_acc">
                                            }

                                        }

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Type</label>
                                        <select class="select2 form-control custom-select" name="type" id="type" required>
                                            @if (ViewBag.tableData == null)
                                            {
                                                <option value="Purchase">Purchase</option>
                                                <option value="Sales">Sales</option>
                                            }
                                            else
                                            {
                                                foreach (var acc in ViewBag.tableData)
                                                {
                                                    if (acc.depot_loc == "Purchase")
                                                    {
                                                        <option value="Purchase" selected>Purchase</option>
                                                        <option value="Sales">Sales</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Purchase">Purchase</option>
                                                        <option value="Sales" selected>Sales</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Date</label>
                                        @if (ViewBag.tableData == null)
                                        {
                                            <input type="date" name="date" id="date" class="form-control" placeholder="dd/mm/yyyy" value="2013-01-08" required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.tableData)
                                            {
                                                <input type="date" name="date" id="date" class="form-control" placeholder="dd/mm/yyyy" required value="2020-01-17">
                                            }

                                        }

                                    </div>
                                    <div class="form-group">
                                        <label>Date in Arabic</label>
                                        @if (ViewBag.tableData == null)
                                        {
                                            <input type="text" name="dateArabic" id="dateArabic" class="form-control" required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.tableData)
                                            {
                                                <input type="text" name="dateArabic" id="dateArabic" class="form-control" required value="@acc.dateArabic">
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Acc ID</label>
                                        <select class="select2 form-control custom-select" name="accid" id="accid" onchange="checkacc()">
                                            @foreach (var acc in ViewBag.data)
                                            {
                                                <option value="@acc.id" if (ViewBag.tableData.acc_id= =@acc.id ) { selected }>@acc.ledger_name</option>
                                            }
                                            <option value="custom">Custom</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Party Name</label>
                                        @if (ViewBag.custome == null)
                                        {
                                            <input type="text" name="partyname" id="partyname" class="form-control" disabled required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.custome)
                                            {
                                                <input type="text" name="partyname" id="partyname" class="form-control" value="@acc.party_name" required>
                                            }
                                        }

                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label>
                                        <input type="text" name="remarks" id="remarks" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Party's V no</label>
                                        @if (ViewBag.custome == null)
                                        {
                                            <input type="text" name="partyvno" id="partyvno" class="form-control" disabled required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.custome)
                                            {
                                                <input type="text" name="partyvno" id="partyvno" class="form-control" value="@acc.party_vno" required>
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Party Name Arabic</label>
                                        @if (ViewBag.custome == null)
                                        {
                                            <input type="text" name="partynamearabic" id="partynamearabic" class="form-control" disabled required>
                                        }
                                        else
                                        {
                                            foreach (var acc in ViewBag.custome)
                                            {
                                                <input type="text" name="partynamearabic" id="partynamearabic" class="form-control" value="@acc.party_namearabic" required>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body p-b-10">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs customtab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pro" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Product</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#adj" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Adjustments</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#pay" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Payment</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#sea" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Search</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#sett" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Settings</span></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="pro" role="tabpanel">
                                <div class="p-0">
                                    <form role="form" method="post" action="#">
                                        <div class="table-responsive" style="height:130px; overflow-y:auto;">
                                            <table id="productstable" class="table editable-table table-bordered table-striped m-b-0" style="cursor: pointer; width:99%;">
                                                <thead>
                                                    <tr>
                                                        <th width="4%">Sl No</th>
                                                        <th width="5%">Code</th>
                                                        <th width="10%">Product Name</th>
                                                        <th width="5%">Quantity</th>
                                                        <th width="7%">Amount</th>
                                                        <th width="6%">Spl Disc %</th>
                                                        <th width="5%">Spl Disc</th>
                                                        <th width="6%">Add Disc</th>
                                                        <th width="7%">Total.Tax</th>
                                                        <th width="7%">Tax Percent</th>
                                                        <th width="10%">Net Amt</th>
                                                        <th width="4%">VAT %</th>
                                                        <th width="4%">Discount</th>
                                                        <th width="4%">VAT</th>
                                                        <th width="8%">MRP</th>
                                                        <th width="12%">HSN Code</th>
                                                        <th align="center">Action</th>

                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.products == null)
                                                    {
                                                        <tr id="row_1">
                                                            <td><span id='snum'>1.</span></td>
                                                            <td id="append"><input type='text' id='product_code_1' name='code[]' onclick='autoComplete(1)' size="2" /></td>
                                                            <td><input type='text' id='product_name_1' name='product_name[]' style="width:100%" /></td>
                                                            <td><input type='text' id='quantity_1' name='quantity[]' onkeyup="Alter(1)" size="2" value="" /></td>
                                                            <td><input type='text' id='amount_1' name='amount[]' size="2" value="" /></td>
                                                            <td><input type='text' id='spl_discpercent_1' name='spl_discpercent[]' onkeyup="Alter(1)" size="2" /> </td>
                                                            <td><input type='text' id='spl_disc_1' name='spl_disc[]' size="2" /></td>
                                                            <td><input type='text' id='add_disc_1' name='add_disc[]' size="2" /></td>
                                                            <td><input type='text' id='total_tax_1' name='total_tax[]' size="3" /></td>
                                                            <td><input type='text' id='tax_prcnt_1' name='tax_prcnt[]' size="3" /></td>
                                                            <td><input type='text' id='net_amt_1' name='net_amt[]' size="2" class="net_amount" /> </td>
                                                            <td><input type='text' id='gst_percent_1' name='gst_percent[]' size="2" /></td>
                                                            <td><input type='text' id='discount_1' name='discount[]' size="3" /> </td>
                                                            <td><input type='text' id='gst_1' name='gst[]' size="2" /></td>
                                                            <td><input type='text' id='mrp_1' name='mrp[]' size="2" /></td>
                                                            <td><input type='text' id='imeno_1' name='imeno[]' size="2" /> </td>
                                                            <td><a href="#" data-toggle="tooltip" title="Delete" onclick="remove(1)"><i class="fas fa-trash"></i></a></td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        int i = 1;
                                                        foreach (var acc in ViewBag.products)
                                                        {

                                                            <tr id="row_@i">
                                                                <td><span id='snum'>@i</span></td>
                                                                <td id="append"><input type='text' id='product_code_@i' name='code[]' onclick='autoComplete(@i)' size="2" value="@acc.code" /></td>
                                                                <td><input type='text' id='product_name_@i' name='product_name[]' style="width:100%" value="@acc.product_name" /></td>
                                                                <td><input type='text' id='quantity_@i' name='quantity[]' onkeyup="Alter(1)" size="2" value="@acc.quantity" /></td>
                                                                <td><input type='text' id='amount_@i' name='amount[]' size="2" value="@acc.amount" /></td>
                                                                <td><input type='text' id='spl_discpercent_@i' name='spl_discpercent[]' onkeyup="Alter(1)" size="2" value="@acc.spl_per" /> </td>
                                                                <td><input type='text' id='spl_disc_@i' name='spl_disc[]' size="2" value="@acc.spl_disc" /></td>
                                                                <td><input type='text' id='add_disc_@i' name='add_disc[]' size="2" value="@acc.addl_disc" /></td>
                                                                <td><input type='text' id='total_tax_@i' name='total_tax[]' size="3" value="@acc.total_tax" /></td>
                                                                <td><input type='text' id='tax_prcnt_@i' name='tax_prcnt[]' size="3" value="@acc.product_name" /></td>
                                                                <td><input type='text' id='net_amt_@i' name='net_amt[]' size="2" class="net_amount" value="@acc.net_amt" /> </td>
                                                                <td><input type='text' id='gst_percent_@i' name='gst_percent[]' size="2" value="@acc.gst_per" /></td>
                                                                <td><input type='text' id='discount_@i' name='discount[]' size="3" value="@acc.discount" /> </td>
                                                                <td><input type='text' id='gst_@i' name='gst[]' size="2" value="@acc.gst" /></td>
                                                                <td><input type='text' id='mrp_@i' name='mrp[]' size="2" value="@acc.mrp" /></td>
                                                                <td><input type='text' id='imeno_@i' name='imeno[]' size="2" value="@acc.imeno" /> </td>
                                                                <td><a href="#" data-toggle="tooltip" title="Delete" onclick="remove(@i)"><i class="fas fa-trash"></i></a></td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                            <button type="button" class='addmore btn-admore'>+ Add More</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="adj" role="tabpanel">
                                <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Add/Less</th>
                                            <th>Account</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="pay" role="tabpanel">
                                <div class="p-0">
                                    <form role="form" method="post" action="#">
                                        <div class="table-responsive">
                                            <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Sl No</th>
                                                        <th>Mode of Payment</th>
                                                        <th>CC/Cheque No</th>
                                                        <th>Type</th>
                                                        <th>Bank/Cash</th>
                                                        <th>Cheque/Exp.Date</th>
                                                        <th>Authentication/Comment</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="sea" role="tabpanel">
                                <div class="p-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <form role="form" method="post" action="#">
                                                <div class="form-group m-t-5">
                                                    <label></label>
                                                    <input type="text" class="form-control" id="date-mask">
                                                </div>
                                                <div class="form-group m-t-5">
                                                    <div class="row pl-3">
                                                        <div> <label>From: &nbsp&nbsp</label></div>
                                                        <div> <input type="date" name="from" class="form-control" placeholder="dd/mm/yyyy" required></div>
                                                    </div>
                                                </div>
                                                <div class="form-group m-t-5">
                                                    <div class="row pl-3">
                                                        <div><label>To &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label></div>
                                                        <div><input type="date" class="form-control" name="to" placeholder="dd/mm/yyyy" required></div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </form>
                                        </div>
                                        <div class="col-md-8 p-3">
                                            <div class="table-responsive">
                                                <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl No</th>
                                                            <th>Voucher No</th>
                                                            <th>Date</th>
                                                            <th width="38%">Party A/c</th>
                                                            <th width="30%">Sales Man</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="sett" role="tabpanel">
                                <div class="p-20">
                                    <form>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" required value="single" name="styled_single_checkbox" class="custom-control-input"><span class="custom-control-label">Using Barcode</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" required value="single" name="styled_single_checkbox" class="custom-control-input"><span class="custom-control-label">Print While Saving </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" required value="single" name="styled_single_checkbox" class="custom-control-input"><span class="custom-control-label">Print Barcode Labels</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="card">
                        <div class="card-body">
                            <form role="form" method="post" action="#">
                                <div class="col-md-6 pull-left">
                                    <div class="row">

                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2 pull-right">

                                <div class="row pull-right">
                                    <div><label for="validationDefault04">Total.Qty: &nbsp</label></div>
                                    <div>
                                        <label id="net_total_quantity">
                                            @if (ViewBag.tableData != null)
                                        {

                                            foreach (var tableproduct in ViewBag.tableData)
                                            {
                                                @tableproduct.tot_qty;
                                            }
                                        }
                                    </label>
                                </div>
                                <div><label>&nbsp|&nbsp</label> </div>

                                <div> </div>
                                <div><label for="validationDefault04"> Net Total: &nbsp</label></div>
                                <div>
                                    <b>
                                        <label id="net_total"> 0&nbsp &nbsp</label>@if (ViewBag.tableData != null)
                                        {

                                            foreach (var tableproduct in ViewBag.tableData)
                                            {
                                                @tableproduct.tot_qty;
                                            }
                                        }
                                    </b>
                                </div>
                            </div>
                            <div class="row pull-right">
                                <h3 style="font-size:1.5rem">
                                    GRAND TOTAL : <b>
                                        <span id="grand_total">
                                            @if (ViewBag.tableData != null)
                                        {

                                            foreach (var tableproduct in ViewBag.tableData)
                                            {
                                                @tableproduct.tot_qty;
                                            }
                                        }
                                    </span>
                                </b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button id="purchase_save" class="btn btn-primary">Save</button>
        <button id="purchase_save_table" class="btn btn-primary">Save table</button>
        <button class="btn btn-primary" type="submit">Clear</button>
        <button class="btn btn-primary" type="submit">Close</button>
    </div>

</div>
</div>
</div>
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("elements", "1", {packages: "transliteration"});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    function OnLoad() {
    var options = {
        sourceLanguage:
        google.elements.transliteration.LanguageCode.ENGLISH,
        destinationLanguage:
        [google.elements.transliteration.LanguageCode.ARABIC],
        shortcutKey: 'ctrl+g',
        transliterationEnabled: true
    };
    var keyVal = 32; // Space key
    $("#partyname").on('keydown', function (event) {
        if (event.keyCode === 32) {
            var control = new google.elements.transliteration.TransliterationControl(options);
            control.makeTransliteratable(["partynamearabic"]);
            var engText = $("#partyname").val() + " ";
            var engTextArray = engText.split(" ");
            $("#partynamearabic").val($("#partynamearabic").val() + engTextArray[engTextArray.length - 2]);
            document.getElementById("partynamearabic").focus();
            $("#partynamearabic").trigger({
                type: 'keypress', keyCode: keyVal, which: keyVal, charCode: keyVal
            });
        }
    });
    $("#partynamearabic").bind("keyup", function (event) {
        setTimeout(function () { $("#partyname").val($("#partyname").val() + " "); document.getElementById("partyname").focus() }, 0);
    });
    $("#voucher").on('keydown', function (event) {
        if (event.keyCode === 32) {
            var control = new google.elements.transliteration.TransliterationControl(options);
            control.makeTransliteratable(["voucherArabic"]);
            var engText = $("#voucher").val() + " ";
            var engTextArray = engText.split(" ");
            $("#voucherArabic").val($("#voucherArabic").val() + engTextArray[engTextArray.length - 2]);
            document.getElementById("voucherArabic").focus();
            $("#voucherArabic").trigger({
                type: 'keypress', keyCode: keyVal, which: keyVal, charCode: keyVal
            });
        }
    });
    $("#voucherArabic").bind("keyup", function (event) {
        setTimeout(function () { $("#voucher").val($("#voucher").val() + " "); document.getElementById("voucher").focus() }, 0);
    });
    $("#date").on('change', function (event) {
            var control = new google.elements.transliteration.TransliterationControl(options);
            control.makeTransliteratable(["dateArabic"]);
            var engText = $("#date").val() + " ";

            var engTextArray = engText.split(" ");
            $("#dateArabic").val($("#dateArabic").val() + engTextArray[engTextArray.length - 2]);
            document.getElementById("dateArabic").focus();
            $("#dateArabic").trigger({
                type: 'keypress', keyCode: keyVal, which: keyVal, charCode: keyVal
            });
    });
    $("#dateArabic").bind("keyup", function (event) {
        setTimeout(function () { $("#date").val($("#date").val() + " "); document.getElementById("date").focus() }, 0);
    });
} //end onLoad function
google.setOnLoadCallback(OnLoad);
</script>
<script>
    var i = 2;
    function autoComplete(id) {
        $("#product_code_" + id).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Invoice/getProductCode",
                    type: "POST",
                    dataType: "json",
                    data: { keyword: request.term },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { label: item, value: item };
                            }));
                    },
                    error: function () {
                        alert('something went wrong !');
                    }
                })
            },
            appendTo: '#append',
            select: function (event, ui) {
                $(this).val(ui.item.label);
                var productcode = ui.item.value;
                $.ajax({
                    url: '/Invoice/getProduct', type: "GET", dataType: "json",
                    data: { id: productcode },
                    success: function (data) {
                        $.each(data, function (i, product) {
                            $('#product_name_' + id).val(product["products"].product_name)
                            $('#quantity_' + id).val('0')
                            $('#amount_' + id).val('0')
                            $('#spl_discpercent_' + id).val('0')
                            $('#spl_disc_' + id).val('0')
                            $('#add_disc_' + id).val('0')
                            $('#total_tax_' + id).val('0')
                            $('#tax_prcnt_' + id).val(product.taxprcnt)
                            $('#net_amt_' + id).val('0')
                            $('#gst_percent_' + id).val('0')
                            $('#discount_' + id).val('0')
                            $('#gst_' + id).val('0')
                            $('#mrp_' + id).val(product["products"].mrp)
                            $('#imeno_' + id).val(product["products"].hsn_code)
                        });
                    },
                    error: function (xhr, status, error) {
                    }
                });
                return false;
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
        var keyVal = 32; // Space key
        $("#partyname").on('keydown', function (event) {
            if (event.keyCode === 32) {
                var control = new google.elements.transliteration.TransliterationControl(options);
                control.makeTransliteratable(["partynamearabic"]);
                var engText = $("#partyname").val() + " ";
                var engTextArray = engText.split(" ");
                $("#partynamearabic").val($("#partynamearabic").val() + engTextArray[engTextArray.length - 2]);
                document.getElementById("partynamearabic").focus();
                $("#partynamearabic").trigger({
                    type: 'keypress', keyCode: keyVal, which: keyVal, charCode: keyVal
                });
            }
        });
    }
    function checkacc() {
        var accvalue = $('#accid').val();
        if (accvalue == 'custom') {
            $("#partyname").removeAttr('disabled');
            $("#partynamearabic").removeAttr('disabled');
            $("#partyvno").removeAttr('disabled');
        } else {
            $("#partyname").attr('disabled', 'disabled');
            $("#partynamearabic").attr('disabled', 'disabled');
            $("#partyvno").attr('disabled', 'disabled');
        }
    }
    function Alter(id) {
        var net_tot = 0;
        var total_qunatity = 0;
            var amount = $('#amount_' + id).val();
            var qty = $('#quantity_' + id).val();
            var tax_prcnt = $('#tax_prcnt_' + id).val();
            var rate = $('#mrp_' + id).val();
            total = qty * rate;

            var spl_disc_prcnt = $('#spl_discpercent_' + id).val();
            var discount = (amount * spl_disc_prcnt) / 100;

            $('#spl_disc_' + id).val(discount);
            $('#amount_' + id).val(total);
            var taxvalue = (total * parseInt(tax_prcnt)) / 100;
            $('#total_tax_' + id).val(taxvalue);
            $('#net_amt_' + id).val(total - discount + taxvalue);
           // $('#net_total').html(total - discount);
            $('.net_amount').each((index, element) => {
                var h = index + 1;
                var fetch = parseFloat($('#net_amt_' + h).val());
                net_tot = parseFloat(net_tot) + fetch;
                var fetch_quantity = parseFloat($('#quantity_' + h).val());
                total_qunatity = parseFloat(total_qunatity) + fetch_quantity;
            });
            $('#net_total_quantity').html(total_qunatity + " ");
            $('#net_total').html(net_tot);
            $('#grand_total').html(net_tot);
    }
    $(".addmore").on('click', function () {
        count = $('#productstable tr').length;
        var i=count;
        var data = "<tr id='row_"+i+"'><td><span id='snum" + i + "'>" + i + ".</span></td>";
        data += "<td><input type='text' id='product_code_" + i + "' size=\"2\" name='code[]' size=\"2\" onclick='autoComplete(" + i + ")' /></td><td><input type='text' id='product_name_" + i + "' name='product_name[]' size=\"3\" /></td><td><input type='text' id='quantity_" + i + "' name='quantity[]' onkeyup='Alter(" + i + ")' size=\"2\" /></td><td><input type='text' id='amount_" + i + "' name='amount[]' size=\"2\" /></td><td><input type='text' id='spl_discpercent_" + i + "' name='spl_discpercent[]' onkeyup='Alter(" + i + ")' size=\"2\" /> </td><td><input type='text' id='spl_disc_" + i + "' name='spl_disc[]' size=\"2\" /></td><td><input type='text' id='add_disc_" + i + "' name='add_disc[]' size=\"2\" /></td><td><input type='text' id='total_tax_" + i + "' name='total_tax[]' size=\"3\" /></td><td><input type='text' id='tax_prcnt_" + i + "' name='tax_prcnt[]' size=\"3\" /></td><td><input type='text' id='net_amt_" + i + "' name='net_amt[]' size=\"2\" class='net_amount'/> </td><td><input type='text' id='gst_percent_" + i + "' name='gst_percent[]' size=\"2\" /></td><td><input type='text' id='discount_" + i + "' name='discount[]' size=\"3\" /> </td><td><input type='text' id='gst_" + i + "' name='gst[]' size='2'></td><td><input type='text' id='mrp_" + i + "' name='mrp[]' size=\"2\" /></td>><td><input type='text' id='imeno_" + i + "' name='imeno[]' size=\"2\" /> </td> <td><a href='#' data-toggle='tooltip' title='Delete'  onclick='remove(" + i + ")'><i class='fas fa-trash'></i></a></td></tr>";
        $('#productstable').append(data);
        i++;
    });
</script>
<script>
    function remove(id)
    {
        $("#row_"+id).remove();
    }
</script>
<style>
    td {
        padding: 0px 0px;
    }
</style>