
@{
    ViewBag.Title = "viewemployee";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Invoice Details</h4>
                    </div>
                    <div class="card-body">
                        <form role="form" method="get" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row pl-4">
                                            <div><label>Search by : &nbsp;&nbsp;</label></div>
                                            <div>
                                                <input type="text" name="empid" class="form-control" placeholder="ID">
                                            </div>
                                            <div>&nbsp;&nbsp;</div>
                                            <div>
                                                <select>
                                                    <option>Select Type</option>
                                                    <option value="Sales">Sales</option>
                                                    <option value="Purchase">Purchase</option>
                                                </select>
                                            </div>
                                            <div>&nbsp;&nbsp;</div>
                                            <div><button class="btn btn-primary" type="submit" style="height:30px;">Search</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl-2 pt-2">
                                <form role="form" method="get" action="#">
                                    <div class="table-responsive" style="height:300px; overflow-y:auto;">
                                        <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0" width:99%;">
                                            <thead>
                                                <tr>
                                                    <th align="center">Sl No</th>
                                                    <th>Invoice Id</th>
                                                    <th>Account Type</th>
                                                    <th>Type</th>
                                                    <th>Remarks</th>
                                                    <th>Depo</th>
                                                    <th>Date</th>
                                                    <th>Party VNo</th>
                                                    <th>Total Qty</th>
                                                    <th>Total Gross</th>
                                                    <th>Total Net</th>
                                                    <th width="2%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               @{ int i = 1;}
                                                @foreach (var data in ViewBag.data)
                                                {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@data.invoice_id</td>
                                                    <td>@data.cash_party_acc</td>
                                                    <td>@data.type</td>
                                                    <td>@data.remarks</td>
                                                    <td>@data.depot_loc</td>
                                                    <td>@data.date</td>
                                                    <td>@data.party_vno</td>
                                                    <td>@data.tot_qty</td>

                                                    <td>@data.tot_gross</td>
                                                    <td>@data.tot_net</td>

                                                    <td align="center">
                                                        <a href="/Invoice/PurchaseInvoiceView?id=@data.id" data-toggle="tooltip" title="Edit"><i class="fas fa-user-edit"></i></a>                &nbsp; <a href="" data-toggle="tooltip" title="Delete" onclick="Confirmation(@data.id)"><i class="fas fa-trash"></i></a>
                                                        &nbsp; <a href="" data-toggle="tooltip" title="Delete" onclick="Confirmation(@data.id)"><i class="fas fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @*@include('layouts.footer')*@
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>